.cover {
  background-image: url('assets/20191210_130113.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border:0.2rem solid black;
  display: table;
  height: 100vh;
  width: 100vw;
}

.hero-text-wrapper {
  display: table-cell;
  color:black;
  text-align: center;
  vertical-align: middle;
}


.hero-text {
  margin: 0 auto;
  padding: .625rem;
  color: hsla(0,0%,100%,1.9);
  background: hsla(100,0%,0%,.7);
}

@media(min-width: 720px) {
    .hero-text {
        background: none;
        color: black;
        margin-bottom: 20vh; 
    }
}

@media(min-width:720px) {
    .hero-text h1 {
        color:red;
    }
}

@media(min-width:720px) {
    .hero-text span a {
        color:black;   
    }
}

@media(min-width:720px) {
    .hero-text span a:hover {
        color:red;
        text-decoration: underline;
    }
}

.enter a {
  color:red;
  text-decoration: none;
}

.enter a:hover {
    text-decoration: underline;
}